.diwali-top-section {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
    width: 60vw;
    padding: 25px;
}

.diwali-top-heading {
    color: white;
    font-size: 40px;
    width: 200px;
    font-family: Caveat;
}

.diwali-bottom-section {
    background-color: #e6f6ff;
    width: 60vw;
    padding: 15px;
    text-align: center;
}

.diwali-card-item {
    background-color: white;
    border-radius: 9px;
    text-align: center;
    padding: 16px;
    width: 140px;
    margin: 15px;
}

.diwali-card-image {
    height: 70px;
    width: 70px;
}

.diwali-card-name {
    font-size: 13px;
    font-weight: normal;
    font-family: Roboto;
    color: #616e7c;
}

.diwali-card-price {
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    color: #323f4b;
}